*.exe
.vscode/
/git0/tempCodeRunnerFile.c
/git0/testing_code.c
/git0/text.c
/git0/factorial1.c
/git0/checking.c
/git0/classwork.c
/git0/classwork_2.c
/git0/classwork_05_03_2023.c
/git0/correctedprg1.c
/git0/drivingtest.c
/git0/factorial.c
